PSProxyClass/PSProxyClass/bin
PSProxyClass/PSProxyClass/obj
PSProxyClass/PSProxyClass/*.user
PSProxyClass/*.suo
PSProxyCLR/Debug
PSProxyCLR/Release
PSProxyCLR/*.opensdf
PSProxyCLR/*.sdf
PSProxyCLR/*.suo
PSProxyCLR/PSProxyCLR/Debug
PSProxyCLR/PSProxyCLR/Release
PSProxyCLR/PSProxyCLR/*.user
vibconsole/vc2010/Debug
vibconsole/vc2010/Release
vibconsole/vc2010/ipch
vibconsole/vc2010/output
vibconsole/vc2010/cookie.txt
vibconsole/vc2010/options.ini
vibconsole/vc2010/*.opensdf
vibconsole/vc2010/*.sdf
vibconsole/vc2010/*.suo
vibconsole/vc2010/*.user
vibconsole/vc2010/jslib/tests/private
